<!-- orders.html -->
{% extends 'base.html' %}

{% block title %}Orders - My Website{% endblock %}

{% block content %}
    <h2>List of Orders</h2>
    <ul>
        {% for order in orders %}
            <li>Order #: {{ order.id }} by {{ order.client.name }} - Total: ${{ order.total_amount }}</li>
        {% endfor %}
    </ul>
    
    <!-- Добавляем кнопку для перехода к ordered_products -->
    <a href="{% url 'ordered_products' %}" class="btn btn-primary">View Ordered Products</a>
{% endblock %}
